@()
@layouts.html.default("Scalatra: a tiny, Sinatra-like web framework for Scala", "Welcome to Scalatra"){
<form method="post" action="/login">
    <p>E-mail</p><input type="text" name="email"/><br>
    <p>Password</p><input type="password" name="password"/><br>
    <input type="submit"/>
</form>
<form method="post" action="/signup">
    <p>Name</p><input type="text" name="name"/><br>
    <p>E-mail</p><input type="text" name="email"/><br>
    <p>Password</p><input type="password" name="password"/><br>
    <input type="submit"/>
</form>
}